.jumbotron {
    background-color: ghostwhite;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 20px 10px;
    background-color: rgb(175, 175, 175);
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 0px
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tap-content {
    padding-top: 10px;
}