.jumbotron {
  background-color: #e3e320;
  color: black;
  margin-bottom: 10px;
  margin-top: 50px;
}
footer {
  padding: 10px 10px 20px 10px;
  background-color: #e3e320;
  margin-left: 0px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.card-hotel {
  background-color: #daf5db;
  flex: 1 200px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.btn-reserva {
  background-color: #5d7d9e;
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
}
.tap-content {
  padding-top: 10px;
  padding-right: 0px;
}
