$yellow: #afc9f0;
@mixin margenes ($top, $botton) {
    margin-bottom: $botton;
    margin-top: $top;
}

;
@mixin relleno ($top, $right) {
    padding-top: $top;
    padding-right: $right;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 10px)
}

footer {
    padding: 10px 10px 20px 10px;
    background-color: $yellow;
    margin-left: 0px;
    @include margenes (10px, 15px)
}

.card-hotel {
    flex: 1 200px;
    @include margenes (10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    @include relleno(0px, 10px);
}

.tap-content {
    @include relleno(10px, 0px);
}