@yellow: #e3e320;
@blue: #5d7d9e;
@green: #daf5db;

.margenes (@top, @botton) {
    margin-bottom: @botton;
    margin-top: @top;
    
};

.relleno (@top, @right){
    padding-top: @top;
    padding-right: @right;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 10px)
    
}

footer {
    padding: 10px 10px 20px 10px;
    background-color: @yellow;
    margin-left: 0px;
    .margenes(10px, 15px);
    
}

.card-hotel {
    background-color: @green;
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-reserva {
    background-color: @blue;
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    .relleno(0px, 10px);
}

.tap-content {
    .relleno(10px, 0px);
}